<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content="{$description}"/>
    <meta name="keywords" content="{$keywords}"/>
    <title>{$page_title}</title>
    {global_assets('css')}
    <script type="text/javascript">var ROOT_URL = '__ROOT__/';</script>
    {global_assets('js')}

    {include file="jssdk"}
	<script src="public/js/mshare.js"></script>
	
</head>
<body>
<p style="text-align:right; display:none;">{C('shop.stats_code')}</p>
<div id="loading"><img src="{elixir('img/loading.gif')}" /></div>
<div id="fanhui" class="text-all dis-box j-text-all text-all-back">
    <a class="a-icon-back"  href="javascript:redirect(url);"><i class="iconfont icon-back"></i></a>
    <div class="box-flex input-text">
		<label class="search-check j-search-check" data="2">
		<!-- <span>商品</span><i class="iconfont icon-xiajiantou"></i> -->              
		</label>
    </div>
</div>
<div class="con">
    <div class="message">
        <div class="flow-done-con">
            <!--{if $msg_type == 0}-->
            <i class="iconfont icon-hookring2"></i>
            <!--{/if}-->
            <!--{if $msg_type == 1}-->
            <i class="iconfont icon-guanbi1"></i>
            <!--{/if}-->
            <!--{if $msg_type == 2}-->
            <i class="iconfont icon-102"></i>
            <!--{/if}-->
            <p>{$message}</p>
          
        </div>
        
        <div class="padding-all" style="margin-top: 3rem;">
            <!--{if $msg_type == 0}-->  
            <script>var url = "{$order_url}";</script>
            
            <a href="javascript:redirect(url);" class="btn-submit box-flex br-5 min-two-btn">{$lang.order_query}</a>
            
            <!--{else}-->
            <script>var url = ROOT_URL;</script>
            <a href="javascript:redirect(url);" class="btn-submit box-flex br-5 min-two-btn">{$lang.back_home}</a>
            <!--{/if}-->
        </div>
        
    </div>
    
</div>
<script>
    setTimeout(function () {
        window.location.href = url;
    }, 90000);

    function redirect(url) {
        window.location.href = url;
    }
</script>
</body>
</html>
